<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 title">Relatório de Alocação de Colaboradores</h1>
    <p class="lead title"></p>
  </div>
</div>
<div class="container">
  <form  [formGroup]="projectForm">
    <div class="form-group">
    <label for="nomeUsuario" class=" alert alert-warning texto-relatorio d-flex justify-content-center bd-highlight mb-3">Selecione o projeto para realizar a combinação com as habilidades dos colaboradores</label>
    <div class="form-group container-espc">
    <label for="nomeUsuario">Projeto:</label>
    <div class="btn-group btn-group-espec">
      <button type="button" class="btn btn dropdown-toggle text-project" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ projectSelected.descricao }}
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" *ngFor="let project of projectList; index as i;"  (click)="onSelectProject(project)"  type="button">{{project.descricao}}</button>

        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success float-right" data-dismiss="modal" (click)="showResults()">Processar relatório</button>
      <button type="button" class="btn btn-secondary float-right" data-dismiss="modal" (click)="printResults()">Imprimir</button>

    </div>
    </div>
  </div>
  </form>
</div>

<div class="container container-espc" *ngIf="results">
  <label for="nomeUsuario" class=" alert alert-success texto-relatorio d-flex justify-content-center bd-highlight mb-3">Foram encontrados os colaboradores compatíveis com o projeto selecionado</label>
  <ul class="list-group list-espec">
    <li class="list-group-item" data-toggle="modal" (click)="ViewWorkerByProject(worker)" *ngFor="let worker of workersRankedByProject; index as i;" data-target="#exampleModal" data-toggle="modal" data-target="#exampleModal">{{worker.colaborador.nome}}</li>
  </ul>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalhes Colaborador x Projeto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Conteúdo Modal-->
        <div class="row">
        <div class="col-6 col-sm-6 modal-left-side">
          <form [formGroup]="workerExperience">
            <div class="form-group">
              <label for="nomeColaborador">Nome Completo</label>
              <input type="text" disabled class="form-control" id="nomeColaborador"   formControlName="nome" aria-describedby="nomeColaborador" placeholder="Carlos David Lira">
            </div>
            <div class="form-group">
              <label for="projetoAtual">Projeto Atual</label>
              <input type="text" disabled class="form-control" id="projetoAtual"  formControlName="projetoAtual" >
            </div>
            <div class="form-group">
              <label for="nomeGerente">Nome do Gerente Atual</label>
              <input type="text" disabled class="form-control" id="nomeGerente" formControlName="nomeGerente">
            </div>
            <div class="form-group">
              <label for="habilidadesNecessarias">Habilidades</label>
              <input type="text" disabled class="form-control" id="habilidades" formControlName="habilidades">
            </div>
            <!--/div-->
          </form>
        </div>

        <div class="col-6 col-sm-6">
          <form [formGroup]="workerExperience">
            <div class="form-group">
              <label for="exampleInputEmail1">Nome do Projeto</label>
              <input type="text" class="form-control" disabled id="exampleInputEmail1" formControlName="nomeProjeto" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="habilidades">Habilidades Necessárias</label>
              <input type="text" class="form-control" disabled id="habilidadesNecessarias" formControlName="habilidadesNecessaria">
            </div>
            <div class="form-group">
              <label for="habilidades">Tempo Médio de Experiêncio Necessário</label>
              <input type="text" class="form-control" disabled id="habilidadesNecessarias" formControlName="tempoMedio" >
            </div>
          </form>
          </div>
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
