<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" class="top-smart-select-text" router-link="/">Smart Select</a>

  <a class="navbar-brand" routerLink="/">Home</a>
  <a class="navbar-brand" [routerLink]="['/usuario', 'create']">Usuários</a>
  <div class="navbar-brand dropdown">
    <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Projeto
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" [routerLink]="['/projeto','create']">Cadastro de Projetos</a>
      <a class="dropdown-item" [routerLink]="['/projeto','view']">Consulta de Projeto</a>
    </div>
  </div>
  <div class="navbar-brand dropdown">
    <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Colaborador
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item"  [routerLink]="['/colaborador', 'create']">Cadastro de Colaborador</a>
      <a class="dropdown-item"  [routerLink]="['/colaborador', 'view']">Cadastro de Colaborador</a>
    </div>
  </div>
  <div class="navbar-brand dropdown">
    <a class="navbar-brand dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Documentações
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink="/doc">Documentação do Sistema</a>
      <div class="dropdown-divider"></div>
    </div>
  </div>
  <a class="navbar-brand" routerLink="/rel">Relatório Colaborador x Projeto</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">

      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="navbar-brand" >Usuário: Carlos David</a>
      <!--input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"-->
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="">Logout</button>
    </form>
  </div>
</nav>
<!--div-- class="jumbotron jumbotron-fluid junbotron-spec">
  <div class="container">
    <h1 class="display-4 title">Bem vindo</h1>
    <p class="lead title"> Selecione uma opção para iniciar</p>
  </div>
</!--div-->
<!--app-projeto  href="#Projeto"> </app-projeto-->
<!--app-colaborador></!--app-colaborador-->
<!--app-usuario></!--app-usuario-->
<!--app-relatorio></!--app-relatorio-->
<router-outlet></router-outlet>
