.top-smart-select-text{
margin-right: 100px !important;
font-style: bold !important;
color: black;
}

.navbar-brand:hover{
  background-color: cornsilk;

}
.user-info-container{
align-content: flex-end;
}

.title{
  text-align: center;
}
.junbotron-spec{
  margin-top: 200px;
}

