<div *ngIf="!consultMode">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 title">Cadastro de Colaborador</h1>
    <p class="lead title"></p>
  </div>
</div>
<div class="container">
  <div *ngIf='requestStatus !== null' [ngClass]="requestStatus ? 'alert alert-primary alert-success fade show messages' : 'alert alert-danger alert-dismissible fade show messages'" role="alert">
    {{ requestMessage }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
  <form [formGroup]="workerForm" (onSubmit)="onSubmit()">
    <div class="form-group">
      <label class="sub-title">- Informações Gerais</label>
    </div>
    <div class="form-group">
      <label for="nomeColaborador">Nome Completo</label>
      <input type="text" class="form-control" id="nomeColaborador" formControlName="nome" aria-describedby="nomeColaborador" placeholder="Entre com o nome do projeto">
    </div>
    <div class="form-group">
      <label for="projetoAtual">Projeto Atual</label>
      <input type="text" class="form-control" id="projetoAtual" formControlName="projetoAtual" placeholder="Digite o nome do projeto que você está atualmente alocado">
    </div>
    <div class="form-group">
      <label for="nomeGerente">Nome do Gerente Atual</label>
      <input type="text" class="form-control" id="nomeGerente" formControlName="gerenteAtual" placeholder="Digite o nome do seu atual gerente ou responsável">
    </div>
    <div class="form-group">
      <label for="habilidadesNecessarias">Habilidades</label>
      <input type="text" class="form-control" id="habilidadesNecessarias" formControlName="habilidades" placeholder="Digite as habilidades que você possui separadas por vírgurla. Exemplo: Java, HTML, CSS, Java script">
    </div>
  </form>
    <div class="form-group">

      <label class="sub-title">- Experiências Anteriores</label>
      <div *ngIf="showExp" >
      <div *ngFor="let exp of experienciesForm; index as i;">
      <form [formGroup]="exp">
      <div class="form-group">
        <label for="nomeEmpresa">Nome da Empresa</label>
        <input type="text" class="form-control" id="nomeEmpresa" formControlName="nomeEmpresa" aria-describedby="nomeEmpresa" placeholder="Entre com o nome da Empresa que você trabalhou anteriormente">
      </div>
      <div class="form-group">
        <label for="nomeCargo">Cargo</label>
        <input type="text" class="form-control" id="nomeCargo" formControlName="cargo" placeholder="Digite o cargo que você ocupava">
      </div>
      <div class="form-group">
        <label for="atividadesRealizadas">Atividades Realizadas</label>
        <input type="text" class="form-control" id="atividadesRealizadas" formControlName="atividadesRealizadas" placeholder="Digite as atividades que você executava">
      </div>
      <div class="form-group">
        <label for="dataInicio">Data Início</label>
        <input type="text" class="form-control" id="dataInicio" formControlName="inicio" placeholder="Digite em Formato XX/XX/XXXX ex.: 12/12/2021">
      </div>
      <div class="form-group">
        <label for="dataFim">Data Fim</label>
        <input type="text" class="form-control" id="dataFim" formControlName="fim" placeholder="Digite em Formato XX/XX/XXXX ex.: 12/12/2021">
      </div>
      <hr class="dashed">
      </form>
    </div>
    </div>

    </div>
    <button type="submit" class="btn btn-outline-success float-right" (click)="addExperiencia()">Adicionar + </button>
    <button type="submit" class="btn btn-primary float-right" (click)="onSubmit()">Salvar</button>

</div>

</div>
<div *ngIf="consultMode">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 title">Consulta de Colaboradores</h1>
      <p class="lead title"></p>
    </div>
  </div>
  <div class="container">
    <div class="input-group rounded">
      <input type="search" class="form-control rounded" [(ngModel)]="filterWorker" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" />
    </div>
    <ul class="list-group list-espec">
      <li class="list-group-item" data-toggle="modal"  *ngFor="let worker of filterWorkers(); index as i;">{{worker.nome}}
        <button data-toggle="modal" data-target="#projectDetails" (click)="viewWorker(worker)"
        class="btn btn-primary float-right" data-target="#exampleModal">Editar</button>
        <button (click)="deleteWorker(worker)"
        class="btn btn-danger float-right">Excluir</button></li>

    </ul>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalhes Colaborador</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Conteúdo Modal VIEW-->
        <form [formGroup]="viewWorkerForm">
          <div class="form-group">
            <label class="sub-title">- Informações Gerais </label>
          </div>
          <div class="form-group">
            <label for="nomeColaborador">Nome Completo</label>
            <input type="text" disabled class="form-control" id="nomeColaborador" aria-describedby="nome" formControlName="nome">
          </div>
          <div class="form-group">
            <label for="projetoAtual">Projeto Atual</label>
            <input type="text" disabled class="form-control" id="projetoAtual" formControlName="projetoAtual">
          </div>
          <div class="form-group">
            <label for="nomeGerente">Nome do Gerente Atual</label>
            <input type="text" disabled class="form-control" id="nomeGerente" formControlName="gerenteAtual">
          </div>
          <div class="form-group">
            <label for="habilidadesNecessarias">Habilidades</label>
            <input type="text" disabled class="form-control" id="habilidadesNecessarias" formControlName="habilidades">
          </div>

          <div class="form-group">

            <label class="sub-title">- Experiências Anteriores</label>
            <!--button-- type="submit" class="btn btn-outline-success float-right" (click)="addExperiencia()">Adicionar + </!--button-->

            <!--div *ngFor="user of ListExperiencias"-->
            <div class="form-group">
              <label for="nomeEmpresa">Nome da Empresa</label>
              <input type="text" disabled class="form-control" id="nomeEmpresa" aria-describedby="nomeEmpresa" placeholder="Empresa X">
            </div>
            <div class="form-group">
              <label for="nomeCargo">Cargo</label>
              <input type="text" disabled class="form-control" id="nomeCargo" placeholder="Desenvolvedor de Software">
            </div>
            <div class="form-group">
              <label for="atividadesRealizadas">Atividades Realizadas</label>
              <input type="text" disabled class="form-control" id="atividadesRealizadas" placeholder="Atuando na manutenção e desenvolvimento de sistemas Web, com Angular no front-end e Java no back-end">
            </div>
            <div class="form-group">
              <label for="dataInicio">Data Início</label>
              <input type="text" disabled class="form-control" id="dataInicio" placeholder="01/01/2019">
            </div>
            <div class="form-group">
              <label for="dataFim">Data Fim</label>
              <input type="text" disabled class="form-control" id="dataFim" placeholder="31/12/2020">
            </div>
          </div>
          <!--/div-->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
  </div>



