.title{
  text-align: center;
}
.sub-title{
  font-size: 20px;
  font-weight: bolder;
}

.list-espec{
  margin-top: 50px;
}

.list-group-item:hover{
  background-color: lightsteelblue;
}

.search-button{
  margin-left: 15px;
  width: 50px;
  height: 50px;
}

hr.dashed {
  border-top: 3px solid #bbb;
  margin-bottom: 30px;
}
