<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 title">Projetos</h1>
    <p class="lead title">Realize o controle dos projetos disponíveis</p>
  </div>
</div>
<div class="container">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Nome do Projeto</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entre com o nome do projeto">
    </div>
    <div class="form-group">
      <label for="habilidades">Habilidades Necessárias</label>
      <input type="text" class="form-control" id="habilidadesNecessarias" placeholder="Digite as habilidades necessárias separadas por vírgurla. Exemplo: Java, HTML, CSS, Java script">
    </div>
    <div class="form-group">
      <label for="habilidades">Tempo Médio de Experiêncio Necessário</label>
      <input type="text" class="form-control" id="habilidadesNecessarias" placeholder="Digite o tempo médio de experiência nas habilidades">
    </div>
    <button type="submit" class="btn btn-primary float-right">Salvar</button>
  </form>
</div>
