<div *ngIf="!consultMode">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 title">Cadastro de Projetos</h1>
    <!--p class="lead title">Realize o controle dos projetos disponíveis</!--p-->
  </div>
</div>
<div class="container">
  <div *ngIf='requestStatus !== null' [ngClass]="requestStatus ? 'alert alert-primary alert-success fade show messages' : 'alert alert-danger alert-dismissible fade show messages'" role="alert">
    {{ requestMessage }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
  <form  [formGroup]="projectForm" (onSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Nome do Projeto</label>
      <input type="text" [ngClass]="{'is-invalid': submitted && hasError('descricao')}" class="form-control" formControlName="descricao" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entre com o nome do projeto" required>
    </div>
    <div class="form-group">
      <label for="habilidades">Habilidades Necessárias</label>
      <input type="text" [ngClass]="{'is-invalid': submitted && hasError('habilidades')}" class="form-control" formControlName="habilidades" id="habilidadesNecessarias" placeholder="Digite as habilidades necessárias separadas por vírgurla. Exemplo: Java, HTML, CSS, Java script">
    </div>
    <div class="form-group">
      <label for="habilidades">Tempo Médio de Experiêncio Necessário</label>
      <input type="text" [ngClass]="{'is-invalid': submitted && hasError('tempos')}" class="form-control" formControlName="tempos"  id="habilidadesNecessarias" placeholder="Digite o tempo médio de experiência nas habilidades">
    </div>
    <button type="submit" class="btn btn-light float-right" (click)="onCancel()">Cancelar</button>
    <button type="submit" class="btn btn-primary float-right" (click)="onSubmit()">Salvar</button>

  </form>
</div>
</div>

<div *ngIf="consultMode">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 title">Consulta de Projetos</h1>
      <p class="lead title"></p>
    </div>
  </div>
  <div class="container">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div [ngClass]="hasResults ? 'alert alert-primary alert-dismissible fade show messages col-md-12' : 'alert alert-warning alert-dismissible fade show messages'" role="alert">
         {{requestMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


        <input type="search" class="form-control rounded" [(ngModel)]="filterProject"  placeholder="Digite algo para filtrar a lista" aria-label="Search"
          aria-describedby="search-addon" />

    <ul class="list-group list-espec">
      <li class="list-group-item"  *ngFor="let project of filterProjects(); index as i;"> {{project.descricao}}
        <button data-toggle="modal" data-target="#projectDetails" (click)="viewProject(project)"
        class="btn btn-primary float-right">Editar</button>
        <button (click)="deleteProject(project)"
        class="btn btn-danger float-right">Excluir</button></li>

    </ul>
  </div>

<!-- Modal -->
<div class="modal fade" id="projectDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalhes Projeto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Conteúdo Modal-->
        <form class="need-validation" [formGroup]="editProjectForm" (onSubmit)="onSubmit()">
          <div class="form-group">
            <label for="exampleInputEmail1">Nome do Projeto</label>
            <input type="text" class="form-control" formControlName="descricao"  aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="habilidades">Habilidades Necessárias</label>
            <input type="text" class="form-control" formControlName="habilidades" >
          </div>
          <div class="form-group">
            <label for="habilidades">Tempo Médio de Experiêncio Necessário</label>
            <input type="text" class="form-control" formControlName="tempos"  >
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCloseModal()">Fechar</button>
      </div>
    </div>
  </div>
</div>

</div>
